/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  width: 1210px;
  margin: auto;
}

img {
  vertical-align: top;
  font-family: 'Modak', cursive;
  font-weight: 400;
}

header {
  text-align: center;
}

.primasezione {
  padding-top: 10px;
}

.sezionisuccessive {
  padding-top: 40px;
}

.grey {
  background-color: #e6e6e6;
  width: 400px;
  height: 400px;
  display: inline-block;
  position: relative;
  border-radius: 8px;
}

.sconto {
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0px 5px 0px 0px;
}

.scontobasso {
  background-color: red;
}

.scontoalto {
  background-color: green;
}

.prodotto {
  position: absolute;
  bottom: 20%;
  right: 28%;
}

.cuore {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 48%;
  bottom: 10%;

}

.grey .cuore {
  display: none;
}
.grey:hover .cuore {
  display: block;
}
